@font-face {
  font-family: "Mazzard";
  src: url("../public/fonts/fonnts.com-mazzardsoftm-regular.otf")
    format("opentype");
}

body {
  font-family: "Mazzard";
  margin: 0;
  background-color: #f0f1f2;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
