@font-face {
  font-family: "Mazzard";
  src: url("../../../public/fonts/fonnts.com-mazzardsoftm-regular.otf")
    format("opentype");
}

.main {
  max-width: 1440px;
  margin: 50px auto;
}

button {
  color: #92278f;
  width: 40px;
  height: 40px;
  background-color: #ccd3da;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
