.add-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 30px;

  &__conteiner {
    display: flex;
    justify-content: center;
  }

  &__record {
    background-color: #ffffff;
    width: 1080px;
    height: 110px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 97px;
    margin-left: 40px;
  }

  &__record-block {
    position: relative;
    width: 333px;
    height: 60px;
  }

  &__record-text {
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #677b8f;
    width: 100%;
    padding: 15px 0;
  }

  &__record-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccd3da;
    border: none;
    margin: 0;
  }

  &__record-button {
    width: 180px;
    height: 56px;
    background-color: #ccd3da;
    color: #677b8f;
    font-size: 16px;
    font-weight: 500;
    border-radius: 28px;
    border: none;
    cursor: pointer;
  }

  &__error-message {
    font-weight: 400;
    font-size: 12px;
    color: #ed1c24;
    position: relative;
    top: 10px;
  }
}

@media (max-width: 780px) {
  .add-form {
    margin-bottom: 100px;

    &__record-record {
      width: 100%;
      height: auto;
      margin-top: 30px;
      border-radius: 10px;
      display: flex;
      flex-wrap: wrap;
      background-color: transparent;
      justify-content: center;
      gap: 0;
    }

    &__record {
      flex-wrap: wrap;
      margin: 0;
      gap: 20px;
      height: 60px;
    }

    &__record-text {
      padding-top: 11px;
      font-size: 16px;
      width: 100%;
      background: transparent;
    }

    &__record-line {
      width: 100%;
      bottom: 0;
      position: relative;
    }

    &__record-button {
      height: 56px;
      margin-top: 10px;
      background-color: #ccd3da;
      border-radius: 28px;
      font-size: 16px;
    }

    &__error-message {
      top: 0;
    }
  }
}

@media (max-width: 480px) {
  .add-form {
    margin-bottom: 130px;

    &__record {
      width: calc(100% - 30px);
      background-color: #ffffff00;
    }

    &__record-block {
      padding: 0 15px;
      height: 60px;
      background-color: #fff;
      border-radius: 15px;
    }

    &__record-button {
      height: 50px;
    }

    &__error-message {
      top: 0;
    }
  }
}
