.expense-total {
  display: flex;
  justify-content: right;
  padding-left: 12px;
  padding-top: 11px;
  margin-bottom: 40px;
  margin-right: 180px;

  &__box {
    display: flex;
    width: 150px;
    height: 45px;
    background-color: #ccd3da66;
    border-radius: 28px;
    padding-top: 11px;
    padding-left: 12px;
    align-items: end;
  }

  &__text {
    font-size: 18px;
    font-weight: 700;
    color: #92278f;
    width: 60px;
  }

  &__sum {
    font-size: 18px;
    font-weight: 500;
    color: #012345;
  }
}

@media (max-width: 780px) {
  .expense-total {
    margin: 30px 30px;
    padding: 0;

    &__box {
      width: 200px;
      height: 50px;
      justify-content: flex-start;
    }

    &__text {
      width: auto;
      margin-right: 10px;
    }

    &__sum {
      font-size: 18px;
      font-weight: 700;
    }
  }
}

@media (max-width: 480px) {
  .expense-total {
    &__box {
      width: 180px;
      justify-content: flex-start;
    }
  }
}
